<head>
	<title>{{ title }}</title>

    <meta charset="UTF-8">

	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<link rel="shortcut icon" sizes="32x32" href="{{ url_for('static', filename='favicon.png') }}">

</head>
