<!doctype html>
<html>
{% include 'head.html' %}
<body>
		<div id="all">
		<header>
			<h1>
				<img src="/static/{{logo}}" height=25 width=25>
				{{welcomemsg}}
			</h1>
		</header>

		<main>
		<noscript>Javascript is required, sorry</noscript>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class=flashes>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
		{% endwith %}
		<div id="searchform" >
			<form class="searchbar" action="#" onsubmit="return jsSearch()" method="POST">
				<input id="keywords" name="keywords" type="text" placeholder="{{tr_movie_or_serie}}" autofocus required>
				<input id="_csrf_token" name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
				<input type="button" value="{{tr_search}}" onclick="return jsSearch()">
			</form>
		</div>
		<div id="results_container">
			<div id="results"></div>
			<div id="loader" class="float-center"></div> 
		</div>
		<div id="status"><a href="{{ url_for('index') }}">❌</a></div>
		</main>

	</div>
	{% include 'footer.html' %}
	{% include 'scripts.html' %}
</body>
</html>


