<!doctype html>
<html>
{% include 'head.html' %}
<body>
		<div id="all">
		<header>
			<h1>
				<img src="{{ url_for('static', filename='favicon.png') }}" height=25 width=25>
			</h1>
		</header>

		<main>
		<noscript>Javascript is required, sorry</noscript>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class=flashes>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
		{% endwith %}
		<div id="videocontainer">
			<div id="downloadprogress">
				<div id="thevideo"></div>
				<div id="progress"></div>
			</div>
			<div id="videoinfos">
				<p>magnet url : <textarea rows="1" cols="42" style="overflow:hidden" onclick="this.focus();this.select()" readonly="readonly" >{{ magnet }}</textarea>
				</p>
				<p>You can run this command : <br>
				<textarea rows="12" cols="42" style="overflow:hidden" onclick="this.focus();this.select()" readonly="readonly" >{{ cmd }}</textarea>
				</p>
			</div>
		</div>
		</main>
	</div>
	{% include 'footer.html' %}
	{% include 'jsprogress.html' %}
</body>
</html>


