#all:before {
    background-image: url('https://source.unsplash.com/daily?cinema,theater');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
	background-attachment: fixed;
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	filter: brightness(60%);
	display: block;
	width: 100%;
	height: 100%;
}

#all {
	position: relative;
	margin:0;
	padding:0;
	height:100vh;
}

body {
    font: 14px/20px sans-serif;
    text-shadow: 1px 0 2px #000;
    text-align: center;
    width: 85%;
    padding: 0;
    margin: 0 auto;
    color: #eeeeee;
	background-color:#111;
}

header {
    /*border-bottom: 1px solid #cccccc;*/
    border-bottom: 1px solid transparent;
    margin: auto auto 1.2em auto;
}

footer {
    border-top: 1px solid #cccccc;
    font-size: 13px;
    position: fixed;
    bottom: 6px;
    z-index: 1;
    width: inherit;
    height: 1.1em;
    padding: .2em;
}

main {
    margin: 0;
}
#searchform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader {
	display:none;
	margin-top:15px;
    border: 8px solid rgba(242,242,242,0.42);
	border-bottom: 8px solid rgba(242,242,242,0.84);
    border-radius: 50%;
    width: 42px;
    height: 42px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#searchform {
	min-width:500px;
}

.searchbar input{
   text-align:center;
}

.searchbar input[type=text] {
    padding: 4px;
    width: 100%;
    font-size:2em;
    color:#08233e;
    border:5px solid rgba(42,42,42,0.5);
}
.searchbar input[type=button] {
	background-color: rgba(42,42,42,0.8);
	color:#fefefe;
	padding: 12px 20px;
    border:1px solid rgba(242,242,242,0.5);
	border-radius: 4px;
	margin:5px;
	cursor: pointer;
}

ul li {
    list-style: initial;
    padding-left: 20px;
    margin-bottom: 0.2em;
}

/* Typography */
a { color: #eeeeee; text-decoration: none; }
a:hover, a:focus { color: #41B1FF; text-decoration: none; }
a:active { color: #105CB6; }

h1,h2,h3,h4,h5,h6 { color:#eee; margin:0; padding:5px}
h1 { font-size: 30px; line-height: 20px; margin-bottom: 10px; padding-top:20px}
h2 { font-size: 24px; line-height: 20px; margin-bottom: 8px; padding-top:10px }
h3 { font-size: 20px; line-height: 20px; margin-bottom: 8px; padding-top:20px}
h4 { font-size: 16px; line-height: 20px; }
h5 { font-size: 14px; line-height: 20px; }
h6 { font-size: 12px; line-height: 20px; }

.float-left     { float: left; margin:auto;}
.float-right    { float: right; margin:auto;}
.float-center   { margin: auto; }
img.float-left  { float: left; margin: 0 20px 20px 0; }
img.float-right { float: right; margin: 0 0 20px 20px; }
img.center 		{ margin: 0 auto; display: block; }
span.float-right { margin-left: 5px; margin-right: 5px;}
span.text-left { margin-left: 5px; }

.text-left 	  { text-align: left; }
.text-center  { text-align: center; }
.text-right   { text-align: right; }
.text-justify { text-align: justify; }
.big { font-size: 2em; padding:5px;}

/* Misc */
hr { background-color: #cccccc; border: 0; color: #cccccc; height: 1px; margin-bottom: 20px; }

/* List */
ul { margin-bottom: 20px; list-style-type: none; margin-left: 30px; }
ol { margin-bottom: 20px; list-style-position: inside; }
ul ul, ol ol { margin-bottom:0; }


/* Table */
table {width: 100%; margin-bottom: 20px;}
th { font-weight: bold; }
tr { width: 100%; }
td { text-align: left; padding: 0 10px 0 10px;}
tfoot { font-style: italic; }
tr:hover { background: #cccccc; text-shadow: none; }
tr:hover a { color: #111111; }
tbody:hover tr { color: #111111; }
td a { display: block; }

progress {
  color: silver;
  font-size: .6em;
  width: 400px;
  height: 42px;
  border: 1px solid silver;
  background: silver;
}

.toupgradealert {
    background-color:rgba(30,30,30,0.5);
    color:#fff;
    position:fixed;
    top:22px;
    right:1px;
    padding: 5px 5px 5px 5px;
    transform: rotate(30deg);
    z-index:1;
    max-width:110px;
    border-radius:25px;
    font-family:monospace;

}

.hide {
	opacity:0;
	transform:translateY(-50vh);
	transition: all 0.42s ease-in;
}

.show {
	opacity:1;
    transform: none;
	transition: all 0.42s ease-out;
}

#status {
	position:fixed;
	display:none;
	bottom:10px;
	right:10px;
	height: 42px;
	line-height:42px;
	width: 42px;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    overflow: hidden;
    background: #424242;
    box-shadow: 0 0 3px gray;
    color:lightgrey;
    padding:auto;
    font-size:2em;
    text-shadow: none;
	opacity:0;
	transition: transform 0.42s ease, opacity 0.42s ease;
}

#status:hover {transform:scale(1.42,1.42);opacity:1}
#status a:hover {color:#f1f1f1}

#videocontainer {
	margin-left:auto;
	margin-right:auto;
	width:80%;
}

#downloadprogress {
	width:66%;
	background:rgba(200,200,200,0.4);
	border-radius:5px;
	margin:auto;
	padding:10px;
}

#videoinfos {
	margin:auto;
	margin-top:30px;
	border-top: 1px solid silver;
}
